<!--
    Le mot clé define est suivi du nom du modèle entre guillemets et le modèle se termine par le mot clé end.
-->
{{ define "currency" }}{{ printf "$%.2f" . }}{{ end }}

{{ define "basicProduct" -}}
    Name: {{ .Name }}, Category: {{ .Category }}, Price:{{ " " }}
    <!--
        Le mot-clé template est utilisé pour exécuter un modèle nommé, en spécifiant le nom du modèle et une valeur de données.
        Cette action exécute le modèle nommé currency et utilise la valeur du champ Prix comme valeur de données, accessible dans le modèle nommé à 
        l'aide du point. Un modèle nommé peut appeler d'autres modèles nommés, les modèles basicProduct et chersProduct exécutant le modèle currency.
    -->
        {{- template "currency" .Price }}
{{- end }}

{{ define "expensiveProduct" -}}
    Expensive Product {{ .Name }} ({{ template "currency" .Price }})
{{- end }}

{{ define "mainTemplate" -}}
    <h1>This is the layout header</h1>
    <!--
        Les blocs de modèle sont utilisés pour définir un modèle avec un contenu par défaut qui peut être remplacé dans un autre fichier de modèle, 
        ce qui nécessite que plusieurs modèles soient chargés et exécutés ensemble.
        Lorsqu'il est utilisé seul, la sortie du fichier de modèle inclut le contenu du bloc. Mais ce contenu peut être redéfini par un autre fichier modèle.
    
        Les modèles doivent être chargés de sorte que le fichier contenant l'action de block soit chargé avant le fichier contenant l'action 
        de définition qui redéfinit le modèle. Lorsque les modèles sont chargés, le modèle défini dans le fichier list.html redéfinit le modèle 
        nommé body afin que le contenu du fichier list.html remplace le contenu du fichier template.html.
    -->
    {{ block "body" . }}
        <h1>There are {{ len . }} products in the source data.</h1>
        <h1>First product: {{ index . 0 }}</h1>
    {{ end }}
    <h1>This is the layout footer</h1>
    {{ range . -}}
        {{ if lt .Price 100.00 -}}
            <h1>{{ template "basicProduct" . }}</h1>
        {{ else if gt .Price 1500.00 -}}
            <h1>{{ template "expensiveProduct" . }}</h1>
        {{ else -}}
            <h1>Midrange Product: {{ .Name }} ({{ printf "$%.2f" .Price}})</h1>
        {{ end -}}
    {{ end }}
{{ end }}